*Data/*
*.do
*.Rhistory
*.xlsx
*.log
*.out
*.snm
*.nav
*.toc
*.md
*.vrb
*.aux
*.png
*.DS_Store
*.csv
*.dbf
*.cpg
*.prj
*.shp
*.pdf

!Presentations/img/*
*.pdf

Presentations/01-intro-to-R-Part-I_cache/

Presentations/01-intro-to-R-Part-II_cache/

Presentations/02-data-processing_cache/

Presentations/04-data-visualizaation_cache/
